body {
  background-color: #ffe2e2;
  /* margin: 0;
  padding: 0; */
}
.nav {
  width: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  position:fixed ;
  width:100%;
  padding: 0px 0px 0px 0px;
  margin : 0px;
  background-color: #3c3d3da4;
  display: flex;
  
}
h2{
  font-family: cursive;
  width: 200px;
}
.main-table{
  padding-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.unav li{
  padding: 10px;
}
.unav {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: flex-end
}
hr {
  border-style: dotted none none;
  width: 10%;
  height: 0px;
  border-radius: 00px;
  border-color: grey;
  border-width: 5px;
}

h1 {
  color: #ff0059;
  font-family: Lucida Handwriting;
}

h3 {
  color: #ff0059;
  /* font-size: xx-large; */
  /* font-style: italic; */
  font-family: Lucida Handwriting;
  text-decoration: underline;
}

.p3 {
  /* font-family: Lucida Handwriting; */

  font-family: "Lucida Console", "Courier New", monospace;
}
/* .btn-1:hover::after {
  color: #ff0059;
  width: 100%;
} */
a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #000000;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
  text-decoration: none;
  text-decoration: dashed;
}
a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;
}
.profile {
  color: #000000;
  border-style: double;
  border-radius: 100%;
  border-width: 15px;
  transition: color 0.3s;
  text-decoration: none;
}
.profile:hover {
  color: #5d0024;

  border-width: 15px;
}

/* # is used for id, and can override class */
#u {
  box-shadow: inset 0 0 0 0 #54b3d600;
  color: #000000;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
  text-decoration: none;
  text-decoration: dashed;
}
#u:hover {
  color: rgba(245, 245, 220, 0);
  box-shadow: inset 200px 0 0 0 #54b3d600;
}
